@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;

  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

*:focus {
  outline-color: theme('colors.primary') !important;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: pan-x pan-y;
}

body {
  margin: 0;
  padding: 0;
  background-color: theme('colors.black1');
  font-family: theme('fontFamily.poppins');
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[class='light'] body {
  background-color: theme('colors.white1');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
pre {
  cursor: inherit;
}

body > * {
  cursor: default;
}

#main {
  z-index: 999 !important;
}

#portal {
  z-index: 1000 !important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-100 dark:bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  @apply bg-zinc-400 dark:bg-zinc-700;
}
