@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*:focus {
  outline-color: theme("colors.primary") !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: theme("colors.black1");
  font-family: theme("fontFamily.poppins");
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

[class="light"] body {
  background-color: theme("colors.white1");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
pre {
  cursor: default;
}
