@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 100 200 300 400 500 600 700 800 900;
  src: url("./assets/fonts/poppins/Poppins-Italic.ttf");
  font-style: italic;
}

:root {
  --font-poppins:
    "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  font-family: var(--font-poppins);
}

*:focus {
  outline-color: theme("colors.primary") !important;
  font-family: var(--font-poppins);
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: pan-x pan-y;
}

body #app {
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
  background-color: theme("colors.black1");
  font-family: theme("fontFamily.poppins");
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  box-sizing: border-box;
}

[class="light"] body {
  background-color: theme("colors.white1");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
pre {
  cursor: inherit;
}

body > * {
  cursor: default;
}

#main {
  z-index: 999 !important;
}

#portal {
  z-index: 1000 !important;
}

::-webkit-scrollbar-corner {
  @apply bg-zinc-100 dark:bg-zinc-900;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-100 dark:bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  @apply bg-zinc-400 dark:bg-zinc-700;
}
